<h1> New Qualification Form </h2>

<% if flash[:notice] %>
<%= flash[:notice] %>
<% end %>

<%= form_for @qualification do |f| %>
    <p>
    <%= f.label :description, "Description:" %>
    <%= f.text_field :description %>
    </p>
    <%= submit_tag "Create New Qualification" %>
<% end %>