<h1> Welcome to your dashboard <%= current_user.name %>! </h1>

<h3> Current Job Opportunities </h3>
<% current_user.opportunities.each do |o| %>
    <p><%= link_to(o.title, "/users/#{current_user.id}/opportunities/#{o.id}}") %></p>
    <p>Company:<%= o.company %></p>

<% end %>

<%= link_to "Add a Job Opportunity", "/users/#{current_user.id}/opportunities/new" %>
<%= link_to "Go to Profile", "/users/#{current_user.id}/user_qualifications" %>
<%= link_to("Logout", session_path, method: :delete) %>