

<div class="jumbotron">
  <h3 class="display-4" style="text-align:center">Welcome to your dashboard, <br> <%= current_user.name %>!</h3><br>
</div>


<h3 style="text-indent: 15px">Current Opportunities</h3>

<div class="list-group">
  <% current_user.opportunities.each do |o| %>
    <% if !o.closed %>
      <a href="/users/<%= current_user.id %>/opportunities/<%= o.id %>" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><%= o.title %></h5>
          <small class="text-muted">Created: <%= o.created_at.strftime('%m/%d/%Y %I:%M %p') %></small>
        </div>
        <p class="mb-1">Company: <%= o.company %></p>
        <small class="text-muted">Click for Details</small>
      </a>
    <% end %>
  <% end %>
</div>
<br>
<p style="text-indent: 15px"><%= link_to "Add a Job Opportunity", "/users/#{current_user.id}/opportunities/new" %><p>
<br>
<h3 style="text-indent: 15px">Urgent Tasks</h3>

<div class="list-group">
  <% current_user.tasks.urgent(5).each do |t| %>
      <a href="/users/<%=current_user.id %>/opportunities/<%=t.opportunity.id %>"  class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><%= t.description %></h5>
          <small class="text-muted">Created: <%= t.created_at.strftime('%m/%d/%Y %I:%M %p') %></small>
        </div>
        <p class="mb-1">Opportunity: <%= t.opportunity.title %></p>
        <small class="text-muted">Click for Details</small>
      </a>
    <% end %>

</div>

