

<div class="jumbotron">
  <h3 class="display-4" style="text-align:center">Welcome to your dashboard, <%= current_user.name %>!</h3><br>
</div>


<h3 style="text-indent: 15px">Current Opportunities</h3>



<div class="list-group">
<% current_user.opportunities.each do |o| %>
  <a href="/users/<%= current_user.id %>/opportunities/<%= o.id %>" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1"><%= o.title %></h5>
      <small class="text-muted">3 days ago</small>
    </div>
    <p class="mb-1">Company: <%= o.company %></p>
    <small class="text-muted">Possibly List Tasks Here</small>
  </a>
  <% end %>
</div>

