# A user can add comments to the user_qualification instances on this page

<h1> Qualification: <%= @user_qualification.qualification.description %> </h1>

<%= form_for @user_qualification, url: user_user_qualification_path, html: { :method => :patch } do |f| %> 
    <%= f.label :comment, "Notes:"%>
    <%= f.text_area :comment %>
    </p>
    <%= f.submit "Update" %>
<% end %>
