<% if flash[:notice] %>
<%= flash[:notice] %>
<% end %>

<h1><%= current_user.name %>'s Profile </h1>

<ul>
<% current_user.user_qualifications.each do |u| %>
    <li><%= u.qualification.description%>
    <%= link_to("Add/Edit Notes", "/users/#{current_user.id}/user_qualifications/#{u.id}/edit") %></li>
    <% if !u.comment.blank? %>
    <p>Notes: <%= u.comment %></p>
    <% end %>
    <br>
<% end %>
</ul>


<%= link_to "Add or Remove Qualifications", edit_user_path(current_user) %>