<!DOCTYPE html>
<html>
  <head>
    <title>JobHunter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


    <nav>

      <section>
        <%#= link_to_unless_current "Test", new_user_path %>
      </section>

      <section class="utility">
        <% if logged_in? %>
          You are logged in as <%= current_user.email %><br>
          <%= link_to_unless_current "Home", user_path(current_user) %>
          <%= link_to_unless_current "Profile", user_user_qualifications_path(current_user) %>
          <%= link_to("Logout", session_path(current_user), method: :delete) %>
        <% end %>
      </section>

    </nav>

    <%= yield %>
  </body>
</html>
