<!DOCTYPE html>
<html lang="en">

  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <% if logged_in? %>
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="">Job Hunter</a>
        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/users/<%= current_user.id %>" >Home <span class="sr-only" >(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users/<%= current_user.id %>/user_qualifications" >Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users/<%= current_user.id %>/opportunities" > Archive </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-method=delete href="/sessions/<%= current_user.id %>">Logout</a>
            </li>
          </ul>
          <span class="navbar-text">
            You are logged in as <%= current_user.email %>
          </span>
        </div>
      </nav>
    <% else %>
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/">Job Hunter</a>
      </nav>
    <% end %>
  </head>

  <body>
    <%= yield %>
  </body>

  <footer class="page-footer font-small stylish-color-dark pt-4">
    <div class="footer-copyright text-center py-3">
     © 2020 Copyright: Job Hunter
    </div>
  </footer>

</html>

